.container {
    padding: 20px;
  }

  .heading_title{
    font-size: 18px;
    margin: 10px;
  }
  
  .cardList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .cardBody {
    padding: 10px;
  }

  