@media only screen and (max-width: 395px) {
    .container {
        box-shadow: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
      }
    
      .heading_title {
        font-size: 16px;
        margin: 15px 10px;
        padding: 10px;
      }
      
      .cardList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px 10px;
      }
      
      .card {
        border: 1px solid #ccc;
        border-radius: 3px;
        overflow: hidden;
        padding: 5px;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      }
      
      .card img {
        width: 100%;
        height: auto;
        border-radius: 4px;
      }
      
  

   .title {
        font-size: 10px;
      } 

    .seasons, .episodes, .date {
        font-size: 8px;
    }

    /* show details button */
    .icons{
      width: 100%;
      height: 30px;
      margin-top: 20px; 
      border: 1px solid lightgrey;
      border-radius: 3px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }

    .icons Button{
      font-size: 8px;
    }

    /* show more button */
    .showMoreContainer {
      display: flex;
      justify-content: center;
      margin-top: 20px; 
      border: 1px solid lightgrey;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    }


     /* Dialog */
    
     .dialogContent .customSelect{
      font-size: 12px;
     }
  
     .genres{
      font-size: 8px;
      font-weight: 800;
    }
  
    .dialogTitle {
      font-size: 14px;
      font-weight: bold;
      padding: 5px;
      color: #fff;
      background-color: royalblue;
    }
    
    .dialogContent {
      color: #333;
    }
    
    .description {
      margin-bottom: 18px;
      font-size: 10px;
    }
    
    
    .seasons_title {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    .episodeList {
      margin-top: 20px;
    }
    
    .episodeList ol {
      list-style-type: none;
      padding-left: 10px;
    }
    
    .episodeList li {
      margin-bottom: 5px;
      cursor: pointer;
      font-size: 10px;
      padding: 10px;
    }
  
    .episodeItem {
      border:lightgray;
      border-radius: 3px;
      display: flex;
      align-items: center;
      padding: 4px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
      width: 100%;
    }
  
    .showImage{
      width: 50%;
      height: auto;
      padding: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .episodeList .favoriteIcon{
    margin-left: auto;
    font-size: 14px;
  }

  .episodeItem .title{
    font-size: 8px;
  }

}


@media only screen and (min-width: 395px) and (max-width: 475px){
   .container {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  
      }
    
      .heading_title {
        font-size: 16px;
        margin: 15px 10px;
        padding: 10px;
      }
      
      .cardList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 10px;
      }
      
      .card {
        border: 1px solid #ccc;
        border-radius: 3px;
        overflow: hidden;
        padding: 5px;
        border-radius: 6px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
      }
      
      
      .card img {
        width: 100%;
        height: auto;
      }
      
    

   .title {
        font-size: 10px;
      } 

    .seasons, .episodes, .date {
        font-size: 8px;
    }

    /* show details button */
    .icons{
      width: 100%;
      height: 30px;
      margin-top: 20px; 
      border: 1px solid lightgrey;
      border-radius: 3px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }

    .icons Button{
      font-size: 10px;
    }

    /* show more button */
    .showMoreContainer {
      display: flex;
      justify-content: center;
      margin-top: 20px; 
      border: 1px solid lightgrey;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4)
    }

    
      /* Dialog */
    
      .dialogContent .customSelect{
        font-size: 12px;
       }
    
       .genres{
        font-size: 8px;
        font-weight: 800;
      }
    
      .dialogTitle {
        font-size: 14px;
        font-weight: bold;
        padding: 5px;
        color: #fff;
        background-color: royalblue;
      }
      
      .dialogContent {
        color: #333;
      }
      
      .description {
        margin-bottom: 18px;
        font-size: 10px;
      }
      
      
      .seasons_title {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      
      .episodeList {
        margin-top: 20px;
      }
      
      .episodeList ol {
        list-style-type: none;
        padding-left: 10px;
      }
      
      .episodeList li {
        margin-bottom: 5px;
        cursor: pointer;
        font-size: 10px;
        padding: 10px;
      }
    
      .episodeItem {
        border:lightgray;
        border-radius: 3px;
        display: flex;
        align-items: center;
        padding: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        width: 100%;
      }
    
      .showImage{
        width: 50%;
        height: auto;
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  
    .episodeList .favoriteIcon{
      margin-left: auto;
      font-size: 14px;
    }
  
    .episodeItem .title{
      font-size: 8px;
    }
}


@media only screen and (min-width: 476px) and (max-width: 750px){
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

      }

    
      .heading_title {
        font-size: 20px;
        margin: 15px 10px;
        padding: 10px;
      }
      
      .cardList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 20px 10px;
      }
      
      .card {
        border: 1px solid #ccc;
        border-radius: 3px;
        overflow: hidden;
        padding: 5px;
        border-radius: 6px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
      }
      
      
      .card img {
        width: 100%;
        height: auto;
      }
      
   

   .title {
        font-size: 14px;
      } 

    .seasons, .episodes, .date {
        font-size: 16px;
    }

    /* show details button */
    .icons{
      width: 100%;
      height: 30px;
      margin-top: 20px; 
      border: 1px solid lightgrey;
      border-radius: 3px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }

    .icons Button{
      font-size: 12px;
    }

    /* show more button */
    .showMoreContainer {
      display: flex;
      justify-content: center;
      margin-top: 20px; 
      border: 1px solid lightgrey;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4)
    }

    
      /* Dialog */
    
      .dialogContent .customSelect{
        font-size: 12px;
       }
    
       .genres{
        font-size: 16px;
        font-weight: 800;
      }
    
      .dialogTitle {
        font-size: 14px;
        font-weight: bold;
        padding: 5px;
        color: #fff;
        background-color: royalblue;
      }
      
      .dialogContent {
        color: #333;
      }
      
      .description {
        margin-bottom: 20px;
        font-size: 10px;
      }
      
      
      .seasons_title {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      
      .episodeList {
        margin-top: 20px;
      }
      
      .episodeList ol {
        list-style-type: none;
        padding-left: 10px;
      }
      
      .episodeList li {
        margin-bottom: 5px;
        cursor: pointer;
        font-size: 10px;
        padding: 10px;
      }
    
      .episodeItem {
        border:lightgray;
        border-radius: 3px;
        display: flex;
        align-items: center;
        padding: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        width: 100%;
      }
    
      .showImage{
        width: 50%;
        height: auto;
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  
    .episodeList .favoriteIcon{
      margin-left: auto;
      font-size: 14px;
    }
  
    .episodeItem .title{
      font-size: 8px;
    }

}


@media only screen and (min-width: 751px) and (max-width: 979px){
    .container {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

      }

      .heading_title {
        font-size: 20px;
        margin: 15px 10px;
        padding: 10px;
      }
      
      .cardList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 20px 10px;
      }
      
      .card {
        border: 1px solid #ccc;
        border-radius: 3px;
        overflow: hidden;
        padding: 5px;
        border-radius: 6px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
      }
      
      .card img {
        width: 100%;
        height: auto;
      }
      
    

   .title {
        font-size: 14px;
      } 

    .seasons, .episodes, .date {
        font-size: 16px;
    }

    /* show details button */
    .icons{
      width: 100%;
      height: 35px;
      margin-top: 20px; 
      border: 1px solid lightgrey;
      border-radius: 3px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }

    .icons Button{
      font-size: 12px;
    }
    /* show more button */
    .showMoreContainer {
      display: flex;
      justify-content: center;
      margin-top: 20px; 
      border: 1px solid lightgrey;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4)
    }

   
    /* Dialog */
    
    .dialogContent .customSelect{
      font-size: 12px;
     }
  
     .genres{
      font-size: 16px;
      font-weight: 800;
    }
  
    .dialogTitle {
      font-size: 14px;
      font-weight: bold;
      padding: 5px;
      color: #fff;
      background-color: royalblue;
    }
    
    .dialogContent {
      color: #333;
    }
    
    .description {
      margin-bottom: 20px;
      font-size: 10px;
    }
    
    
    .seasons_title {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    .episodeList {
      margin-top: 20px;
    }
    
    .episodeList ol {
      list-style-type: none;
      padding-left: 10px;
    }
    
    .episodeList li {
      margin-bottom: 5px;
      cursor: pointer;
      font-size: 10px;
      padding: 10px;
    }
  
    .episodeItem {
      border:lightgray;
      border-radius: 3px;
      display: flex;
      align-items: center;
      padding: 4px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
      width: 100%;
    }
  
    .showImage{
      width: 50%;
      height: auto;
      padding: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .episodeList .favoriteIcon{
    margin-left: auto;
    font-size: 14px;
  }

  .episodeItem .title{
    font-size: 8px;
  }

}

@media only screen and (min-width: 979px) and (max-width: 1500px){
    .container {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }


    
      .heading_title {
        font-size: 18px;
        margin: 15px 10px;
        padding: 10px;
      }
      
      .cardList {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        padding: 20px 10px;
      }
      
      .card {
        border: 1px solid #ccc;
        border-radius: 3px;
        overflow: hidden;
        padding: 5px;
        border-radius: 6px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
      }
      
      .card img {
        width: 100%;
        height: auto;
      }
      
      


     .seasons, .episodes, .date {
        font-size: 16px;
      }

      /* show details button */
      .icons{
        width: 100%;
        height: 40px;
        margin-top: 20px; 
        border: 1px solid lightgrey;
        border-radius: 3px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      }
  
      .icons Button{
        font-size: 16px;
      }

      /* show more button */
      .showMoreContainer {
        display: flex;
        justify-content: center;
        margin-top: 20px; 
        border: 1px solid lightgrey;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4)
      }
      

    /* Dialog */
    
    .dialogContent .customSelect{
      font-size: 14px;
      width: 100%;
     }
  
     .genres{
      font-size: 16px;
      font-weight: 800;
    }
  
    .dialogTitle {
      font-size: 14px;
      font-weight: bold;
      padding: 10px;
      color: #fff;
      background-color: royalblue;
    }
    
    .dialogContent {
      color: #333;
    }
    
    .description {
      margin-bottom: 20px;
      font-size: 14px;
    }
    
    
    .seasons_title {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    .episodeList {
      margin-top: 20px;
    }
    
    .episodeList ol {
      list-style-type: none;
      padding-left: 10px;
    }
    
    .episodeList li {
      margin-bottom: 5px;
      cursor: pointer;
      font-size: 14px;
      padding: 15px;
    }
  
    .episodeItem {
      border:lightgray;
      border-radius: 3px;
      display: flex;
      align-items: center;
      padding: 4px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
      width: 100%;
    }
  
    .showImage{
      width: 50%;
      height: auto;
      padding: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .episodeList .favoriteIcon{
    margin-left: auto;
    font-size: 20px;
  }

  .episodeItem .title{
    font-size: 16px;
  }
  
  
}