
@media only screen and (max-width: 395px) {
  
}


@media only screen and (min-width: 395px) and (max-width: 475px){
 
  
}


@media only screen and (min-width: 476px) and (max-width: 750px){

}


@media only screen and (min-width: 751px) and (max-width: 979px){

}

@media only screen and (min-width: 979px) and (max-width: 1500px){


  .topnav {
    background-color: royalblue; 
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px; 
    display: flex;
    align-items: center; 
  }

  .title {
    margin-left: 8px;
  }

  .logo{
    width: 45px;
    height: auto;
    border-radius: 50%;
  }
}