

@media only screen and (max-width: 395px){
  .input__wrapper {
    align-items: center;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: none;
    position: relative;
  }
  
  .input {
    border: none;
    outline: none;
    width: 100%;
  }

  .result__box {
    top: 50px; 
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 300px; /* Adjust the max-height as needed */
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.dropdown__item {
    padding: 8px;
    cursor: pointer;
}

.dropdown__item:hover {
    background-color: #f5f5f5;
}
}


@media only screen and (min-width: 395px) and (max-width: 475px){
  .input__wrapper {
    align-items: center;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: none;
    position: relative;
  }
  
  .input {
    border: none;
    outline: none;
    width: 100%;
  }

  .result__box {
    top: 50px; 
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 300px; /* Adjust the max-height as needed */
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.dropdown__item {
    padding: 8px;
    cursor: pointer;
}

.dropdown__item:hover {
    background-color: #f5f5f5;
}
}

@media only screen and (min-width: 476px) and (max-width: 750px){
  .input__wrapper {
    align-items: center;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: none;
    position: relative;
  }
  
  .input {
    border: none;
    outline: none;
    width: 100%;
  }

  .result__box {
    top: 50px; 
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 300px; /* Adjust the max-height as needed */
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.dropdown__item {
    padding: 8px;
    cursor: pointer;
}

.dropdown__item:hover {
    background-color: #f5f5f5;
}
}


@media only screen and (min-width: 751px) and (max-width: 979px){
  .input__wrapper {
    align-items: center;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: none;
    position: relative;
  }
  
  .input {
    border: none;
    outline: none;
    width: 100%;
  }

  .result__box {
    top: 50px; 
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 300px; /* Adjust the max-height as needed */
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.dropdown__item {
    padding: 8px;
    cursor: pointer;
}

.dropdown__item:hover {
    background-color: #f5f5f5;
}
}


@media only screen and (min-width: 979px) and (max-width: 1500px){
  .input__wrapper {
    align-items: center;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: none;
    position: relative;
  }
  
  .input {
    border: none;
    outline: none;
    width: 100%;
  }

  .result__box {
    top: 50px; 
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 300px; /* Adjust the max-height as needed */
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.dropdown__item {
    padding: 8px;
    cursor: pointer;
}

.dropdown__item:hover {
    background-color: #f5f5f5;
}
}
